*{
  margin: 0;
  padding: 0;
}

/***************MENU NAVEGACION***************/
.div_menu, .div_menu2{
  display: none;
}

header {
  background: rgba(0,0,0,0.9);
  width: 100%;
  z-index: 10;
}

.wrapper {
  width: 100%;
  height: 38px;
  margin: auto;
  overflow:hidden;
  background: black;
}

nav{
  /*margin: 0 auto;  Desplazamos el nav hacia la izquierda */
  display: inline-block;
}

nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}

span{
  text-align: center;
  margin: 0 auto;
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 98%;
}

nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 10px;
  padding-right: 28px;
  color: #fff;
  margin-left: 14px;
  text-decoration: none;
}

nav ul li a:hover {
  color: red;
}

nav ul li a:focus {
  color: red;
  text-decoration: none;
}

nav ul li:hover {
  background: white;
}


/************DIV 1************/
.div_1{
  margin-top: 1%;
}

.div_1 h2{
  text-align: center;
  font-size: 30px;
  padding: 2%;
  font-weight: bold;
}

.img_servicios{
  width: 100%;
}

.div_1 p{
margin-left: 15%; 
}

#div_p{
  display: none;
}

.t_servicios{
  font-size: 25px;
  padding-top: 3%;
  padding-bottom: 3%;
  display: inline-block;
}

 /******************DIV 2*******************/
.div_2 div{
  margin: 2%;
}

.div_2 img{
  box-shadow: 1px 1px 1px 1px #999;
  margin: 1%;
  border-radius: 6px;
}


/******************DIV 2_1*******************/
.div_2_1{
  height: auto;
  
}

.div_2_1 p{
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8%;
}

.img_servicios_segundarios2{
  margin-bottom: -8%;
}

/******************DIV 3*******************/
.div_3{
  padding-left: 5%;
}

.div_3_1{
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin: 2%; 
  width: 90%;
}

.div_3_1 span{
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
}

.div_3_1 img{
  float: left;
  margin-right: 1%;
}

.div_3_2{
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin: 2%;
  width: 90%;
}

.div_3_2 p{
  text-align: right;
}

.div_3_2 span{
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
}

.div_3_2 img{
   float: right;
   margin-left: 1%;
}

.div_3_3{
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin: 2%;
  width: 90%;
}

.div_3_3 span{
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
}

.div_3_3 img{
  float: left;
  margin-right: 1%;
}


/******************************/
.div_3_4{
  display: inline-block;
  border: 1px solid #d9d9d9;
  margin: 2%;
  width: 90%;
}

.div_3_4 p{
  text-align: right;
}

.div_3_4 span{
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  padding-top: 2%;
  padding-bottom: 2%;
}

.div_3_4 img{
   float: right;
   margin-left: 1%;
}


/****************DIV 3_5****************/
.div_3_5{
  color: white;
  position: relative;
  display: inline-block;
  height: 320px;
}

.div_3_5 p{
  margin-bottom: 8%;
}

.div_3_5_2{
  display: none;
}
/****************IMG A****************/
.img_contactenos{
  width: 100%;
  margin-top: 4%;
  margin-bottom: -26%;
  display: inline-block;
}

.a_contactenos{
  text-decoration: none;
  padding: 2%;
  background: #cd032c;
  color: white;
  font-weight: bold;
  min-width: 10%;
  min-width: 6%;
  font-size: 95%; 
}

.a_contactenos:hover{
  background: white;
  color: red;
}


/****************DIV 4****************/
.div_4{
  background: white;
  display: inline-block;
  width: 100%;
}

.div_4 span{
  font-size: 35px;
  font-weight: bold;
  padding: 1.5%;
  display: inline-block;
}

.div_4 p{
  text-align: center;
}

.div_4_button{
  /*padding-left: 30%;*/
  width: 48%;
  margin-bottom: 2%;
}

.btn_c{
  margin-right:15%; 
  margin-left:15%;
}

.div_4 button{
  border:1px solid #cd032c;
  text-decoration: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 2%;
  padding-bottom: 2%;
  /*margin-right: 10%; */
  color: #cd032c;
  font-weight: bold;
  display: inline-block;
  background: white;
}


.div_4 button:hover{
  background: #cd032c;
  color: white;
}


.div_4 button:focus{
  background: #cd032c;
  color: white;
}



/****************DIV 5****************/
.div_5{
width: 100%;
display: inline-block;
}

.div_lima, .div_arequipa, .div_cuzco{
  background: #ef0029;
  color: white;
  padding-top: 4%;
  box-sizing: border-box;
  width: 42%;
  height: 377px;
  display: block;
  text-align: center;
  float: right; 
  margin-bottom: 2%;
}

.div_lima span, .div_arequipa span, .div_cuzco span{
  font-size: 30px;
  margin-right: 20px;
  float: left;
}

.iconmail{
   margin-left: 25%;
}

.iconl, .iconf{
  margin-left: 26%; 
}

.p_div_lima, .p_div_arequipa, .p_div_cuzco{
  text-align: left;
  margin-bottom: 8px;
}

.div_lima h4, .div_cuzco h4, .div_arequipa h4{ 
  font-size: 20px;
}

.div_lima hr, .div_cuzco hr, .div_arequipa hr{
  margin-top: 4%;
  margin-bottom: 4%;
}

.div_img_lima hr, .div_img_arequipa hr, .div_img_cuzco hr{
  margin-top: 6%;
  margin-bottom: 6%;
}

/****************FOOTER****************/
footer{
    position:relative;
   left:0px;
   bottom:0px;
   height:auto;
   width:100%;
   margin: 0 auto;
   background:#fff;
   text-align: center;
   padding-top: 0.5%;
}

footer .img_footer{
float: left;
margin-left: 8%;

height: auto;
margin-top: -0.8%;
}

footer .icon_footer{
float: right;
margin-right: 10%;
}

.p_footer{
  float: left;
  margin-left: 8.7%;
}

.p_footer2{
  float: right;
  margin-right: 10%;
}



/**************RESPONSIVE**************/
/*MENU*/
@media screen and (max-width:1200px){
}

@media screen and (max-width:950px){
}

@media screen and (max-width:800px){
  /************MENU************/
  .div_menu{
    display: block;
    width: 100%;
    background: black;
  }

  .div_menu2{
    width: 100%;
    background: black; 
  }

  .div_menu span, .div_menu2 span{
    text-align: right;
    display: block;
  }

  .div_menu a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }

  .div_menu2 a{
    display: block;
    padding: 10px;
    margin-left: 3%;
    color: white;
    text-decoration: none;
    font-size: 25px;
  }  

    .wrapper {
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
  }

    nav ul li{
    width: 100%;
  }

    nav ul li a{
    float: left;
  }

/**************DIV 3*************/
.div_3 img{
  width: 100%;
  height: 400px;
}

.div_3 p{
  text-align: center;
}
/**************DIV 4*************/
  .div_4{
    display: inline-block;
  }

  .div_4_button{
    display: inline;
  }

  .div_4_button button{
     display: block !important;
     width: 50%;
     margin: 0 auto;
     margin-top: 1%;
  }

  .div_5 iframe{
    width: 100%;
  }

  .div_lima, .div_arequipa, .div_cuzco{
    width: 100%;
  }
}


@media screen and (max-width:415px){
  .div_1{
    margin-bottom: 10%;
  }  

  .div_1 h2{
    margin-top:4%; 
    margin-bottom:4%;
  }
  
  .div_1 p{  
    /*margin-top: 8%;
    margin-bottom: 8%;
    margin: 0 auto;
    width: 98%;
    text-align: justify;*/
    display: none;
  }

  #div_p{
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    display:block;
  }

  .div_2_1{
    margin-top:5%;
  }

  .img_servicios_segundarios2{
    display: none;
  }

  .div_2_1 p{
    color: black;
  }

  .img_contactenos{
    display: none;
  }

  .div_3_5{
    margin-top: 5%;
    width: 90%;
  }

  .div_3_5 p, .div_3_5 h2{
      color: black;
  }

  .div_3_5{
    display: none;
  }

  .div_3_5_2{
    display: block;
  }

  .div_lima, .div_arequipa, .div_cuzco{
    height: auto;
    padding-bottom: 5%;
  }

   /************FOOTER***********/
  footer .div_img_footer{
    display: inline-block;
    width: 100%;  
  }

  footer .img_footer{
    float: none;
    margin: 0;
  }

  footer .icon_footer{
    float: none;
    margin: 0;
  }

  .p_footer, .p_footer2{
    float: none;
    margin: 0;
    text-align: center;
    padding-bottom: 2%;
  }

  hr{
    display: none;
  }

}